/*  your css code here. If applicable */
.container{
	display: flex;
  flex-flow:row wrap;
  justify-content:space-around;
   align-items:center;
	background-color: #bb8fce ;
	height:150px;
}
.btn , .stop{
	background-color: #6c3483 ;
	color:#ffff;
	padding:10px;
}
